/* ----------- placeholder ----------- */

$pseudo-phprefix: "::-webkit-input-placeholder" "::-moz-placeholder" ":-ms-input-placeholder" "::placeholder";

$ph-styles: (
        font-family: 'Montserrat',
        font-size: medium,
        color:  #31e5cb,
);

@mixin placeholder-theme($styles) {
  @each $pseudo in $pseudo-phprefix {

    @at-root #{&}#{$pseudo} {
      @each $key, $value in $styles {
        #{$key}: #{$value};
      }
    }

  }
}

@mixin placeholder {
  @each $pseudo in $pseudo-phprefix {

    @at-root #{&}#{$pseudo} {
      @content
    }

  }
}

/* ----------- keyframe and animation ----------- */

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
  @content
  }

  @-moz-keyframes #{$name} {
  @content
  }

  @-ms-keyframes #{$name} {
  @content
  }

  @-o-keyframes #{$name} {
  @content
  }

  @keyframes #{$name} {
  @content
}
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}


