@import "_mix";
@import 'foundation';
@include foundation-global-styles;
@include foundation-grid;

// General styles

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  overflow-x: hidden;
}

.row {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

.line {
  height: 1px;
  width: 52px;
  border: none;
}

.button {
  background-color: #ff4281;
  color: #fff;
  border: none;
  transition: all 0.3s ease 0s;
  opacity: 1;

  &:hover {
    background-color: #fe6598;
  }
}

// Sections and components

.form-section {
  background: url("../app/images/form-section__bg-desktop.png") no-repeat center;
  height: 850px;
  position: relative;
  z-index: 2;

  .form-section__top-logotype {
    display: none;
  }
}

.voucher-section {
  background: url("../app/images/voucher-section__bg.png") no-repeat center;
  height: 1150px;
  position: relative;
  z-index: 1;
  top: -160px;
}

.form-section__slider {
  margin: 70px 0;
  padding: 0;

  .slider__header {
    color: #fff;
    text-transform: uppercase;
    font-size: 43px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    display: block;
  }

  .slider__line {
    background-color: #fff;
    margin: 10px 0 20px 0;
  }

  .slider__p {
    color: #fff;
    width: 350px;
    margin: 0;
    padding: 0;
    text-align: justify;
  }

  .slider__button {
    width: 325px;
    height: 110px;
    margin: 35px 0 0 0;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 200;
    padding: 12px 0 0 0;
    cursor: pointer;

    span {
      font-size: 32px;
      font-weight: 400;
    }
  }
}

.form-section__form {
  height: 200px;
  margin: 0 auto;
  padding: 0;

  .form__form-wrap {
    margin: 0 auto 0 -5px;
    padding-bottom: 30px;
    height: auto;
    width: 100%;
    background: rgba(white, 0.5);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;

    .form__form-container {
      margin: 0 auto;
      padding-bottom: 30px;
      height: 95%;
      width: 440px;
      background-color: #fff;
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;

      .form__logotype {
        display: block;
        padding: 20px 0 0 55px;
      }

      .form__voucher-p {
        text-align: center;
        text-transform: uppercase;
        margin: 30px 0 10px 0;
        font-size: 20px;
      }

      .form__line {
        background-color: #000;
        margin: 0 auto;
      }

      .form__price-p {
        color: #ff4281;
        font-size: 22px;
        text-align: center;
        margin: 10px 0 35px 0;

      }
    }
  }
}

input[type="email"] {
  width: 85%;
  display: block;
  margin: 0 auto;
  background-color: rgba(64, 239, 213, 0.2);
  border: 3px solid #31e5cb;
  color: #31e5cb;
  height: 50px;
  border-radius: 40px;
  transition: transform 225ms ease-in-out;
  box-sizing: border-box;
  font-weight: 500;
  padding: 15px 0 15px 30px;
  outline: 0;
  @include placeholder-theme($ph-styles);
}

.form__checkbox-container {
  margin: 20px 68px;
  line-height: 16px;
  text-align: justify;
}

.form__pink-checkbox {
  display: inline-block;
  height: 25px;
  width: 25px;
  border:2px solid rgba(255, 66, 129, 0.3);
  transition-duration: 0.25s;
  cursor: pointer;
  margin-top: 2px;
  user-select: none;
  overflow: hidden;
  position: relative;

  &:hover {
    border: 2px solid #ff4281;
  }

  &:active {
    transition-duration: 0s;
    -webkit-filter: brightness(0.9);
  }
}

input[type="checkbox"] {
  display: none;
  &:checked + {
    label {
      color: #ff4281;
    }
    .form__pink-checkbox {
      border-color: #ff4281;
      background: #ff4281;
      &:after{
        content: '';
        display: block;
        margin-left:6px;
        margin-top:1px;
        width: 10px;
        height: 15px;
        border: solid #fff;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
      }
    }
    label {
      @include animation(boom 0.5s ease);
    }
  }
}

@include keyframes(boom) {
  25% {
    transform: scale(1.25);
  }
}

.form__checkbox-p {
  color: #808080;
  font-size: 9px;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 50px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 500;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (max-device-width : 667px) {

  .line {
    width: 30px;
  }

  .form-section {
    background: url("../app/images/form-section__bg-mobile.png") no-repeat right top;
    background-size: contain;
    padding: 0;

    .form-section__content {
      padding: 0;
    }

    .form-section__top-logotype {
      display: block;
      margin: 5px 0 0 28%;
      width: 36%;
    }
  }

  .form-section__slider {
    margin: 0;

    .slider__header {
      font-size: 22px;
      margin: 22px 0 0 0;
      line-height: 26px;
    }

    .slider__line {
      margin: 10px 0;
    }

    .slider__p {
      color: #fff;
      text-align: left;
      font-size: 12px;
      width: 66%;
    }

    .slider__button {
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      height: auto;
      margin: 205px 0 0 0;
      padding: 5px 0;
      text-align: center;
      vertical-align: center;
      border-radius: 10px 0 0 10px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 300;

      span {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .form-section__form {
    height: auto;

    .form__form-wrap {
      margin: 25px 0 0 0;
      padding: 12px;
      height: auto;
      width: 100%;
      border-radius: 1em;

      .form__form-container {
        margin: 0 auto;
        padding-bottom: 25px;
        height: auto;
        width: 100%;
        border-radius: 1em;

        .form__logotype {
          display: none !important;
        }

        .form__voucher-p {
          margin: 0;
          padding: 20px 0 10px 0;
          font-size: 14px;
          color: #ff4281;
        }

        .form__price-p {
          color: #ff4281;
          font-size: 16px;
          text-align: center;
          margin: 10px 0 15px 0;

        }
      }
    }
  }

  input[type="email"] {
    width: 90%;
    display: block;
    margin: 0 auto;
    background-color: rgba(64, 239, 213, 0.2);
    border: 2px solid #31e5cb;
    height: 50px;
    border-radius: 40px;
    transition: transform 225ms ease-in-out;
    box-sizing: border-box;
    font-weight: 500;
    padding: 15px 0 15px 30px;
    outline: 0;
    @include placeholder-theme($ph-styles);
  }

  .form__checkbox-container {
    margin: 20px 60px;
    line-height: 12px;
    text-align: justify;
  }

  .form__pink-checkbox {
    height: 15px;
    width: 15px;
    border: 1px solid #ff4281;
  }

  input[type="checkbox"]:checked + {

    .form__pink-checkbox:after{
      content: '';
      display: block;
      margin-left: 3px;
      margin-top: 0;
      width: 6px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  .form__checkbox-p {
    font-size: 8px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    background-color: #ff4281;
    color: #fff;
    border: none;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius: 40px;
  }
}

